.mainContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 2.5%;
}

.historyCard {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 30px 5%;
}

.historyCard .titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.historyCard .titleContainer .title {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3D42;
}


.historyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.historyContainer .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pictNameContainer {
  display: flex;
  gap: 10px;
}

.historyContainer .profPictContainer {
  width: 50px;
  height: 50px;
}

.profPict {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
}

.historyContainer .nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.historyContainer .name {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4D4B57;

}

.historyContainer .status {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #7A7886;
}

.historyContainer .nominal {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}

.historyContainer .in {
  color: #1EC15F;
}

.historyContainer .out {
  color: #FF5B37;
}

.historyContainer .pending {
  color: #7A7886;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination .iconContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #6379F4;
}

.pagination .inactive{
  background-color: #FFFFFF;
}
.pagination .active{
  background-color: #6379F4;
}

.pagination .icon {
  width: 20px;
  height: 20px;
}